#audio{
	visibility: hidden;
}

/*body{
	background-color: black;
}*/

#video1{
/* 	position: relative; */
    left:5px;
    width: 500px;
    height: 500px;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);
}
#video2{
    position: absolute;
    left: 390px;
    width: 500px;
    height: 500px;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari */
    transform: rotate(-90deg);
}
